:root {
    --color-main: #909CC2;
    --color-secondary: #084887;
    --color-third: #F58A07;
    --color-text1: #FBFFF1;
    --color-text2: #DFF8EB;
    --track-heigt: 20px;
    --thumb-height: 25px;
    --thumb-width: 25px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 36px;
    color: var(--color-text1);
}

p {
    font-size: 14px;
    color: var(--color-text2);
}

a {
    text-decoration: none;
    color: var(--color-text2);
}

button {
    border-radius: 6px;
    background-color: var(--color-third);
    color: var(--color-text1);
    padding: 16px;
    font-size: 18px;
    border-style: none;
    border: 2px solid var(--color-text1);
}

.header,
.footer {
    display: flex;
    height: 75px;
    background: var(--color-secondary);
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--color-main);
}

.slider[type="range"]{
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.slider[type="range"]::-webkit-slider-runnable-track{
    background-color: var(--color-third);
    height: var(--track-heigt);
    border-radius: 6px;
}

.slider[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: white;
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 50%;
    margin-top: calc((var(--track-heigt) / 2) - (var(--thumb-height) / 2))
}

.gridSize {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.colorPicker[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    border: 2px solid black;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 8px;
}

.btnOn {
    background-color: var(--color-secondary);
    color: var(--color-text1);
}